@page "{id:Guid}"
@model contact_management.Pages.Contacts.EditContactModel
@{
    ViewData["Title"] = "Edit Contact";
    var messageSuccess = ViewData["ContactEdited"]?.ToString();
    var messageDuplicated = ViewData["ContactDuplicated"]?.ToString();
}

<form method="post">

    @if (!string.IsNullOrWhiteSpace(messageSuccess))
    {
        <div class="alert alert-success" role="alert">
            @messageSuccess
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(messageDuplicated))
    {
        <div class="alert alert-danger" role="alert">
            @messageDuplicated
        </div>
    }

    <h1 class="mb-2">Edit Contact</h1>

    <div class="mb-2">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" asp-for="EditContactViewModel.ID" readonly/>
    </div>

    <div class="mb-2">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="EditContactViewModel.Name" />
    </div>

    <div class="mb-2">
        <label class="form-label">Contact</label>
        <input type="text" class="form-control" asp-for="EditContactViewModel.Phone" />
    </div>

    <div class="mb-2">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="EditContactViewModel.Email" />
    </div>

    <div class="col-3 mb-2 pt-4 d-flex justify-content-between" >
        <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update</button>
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
        <a href="/Contacts/ListContact" class="btn btn-warning">Cancel</a>
    </div>

</form>