@page
@model contact_management.Pages.Contacts.ListContactModel
@{
    ViewData["Title"] = "List Contacts";
}

<h1 class="mb-2">Contacts</h1>

@if(Model.Contacts != null && Model.Contacts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>@contact.ID</td>
                    <td>@contact.Name</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                    <td>
                        <a href="/Contacts/ViewContact/@contact.ID" class="btn btn-dark">View</a>
                    </td>
                    <td>
                        <a href="/Contacts/EditContact/@contact.ID" class="btn btn-success">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No contacts has been found!</p>
}
