@page "{id:Guid}"
@model contact_management.Pages.Contacts.ViewContactModel
@{
    ViewData["Title"] = "Contact Detail";
}

<h1 class="mb-2">Contact Details</h1>

    <div class="mb-2">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" asp-for="ContactViewModel.ID" readonly/>
    </div>

    <div class="mb-2">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="ContactViewModel.Name" readonly/>
    </div>

    <div class="mb-2">
        <label class="form-label">Contact</label>
        <input type="text" class="form-control" asp-for="ContactViewModel.Phone" readonly/>
    </div>

    <div class="mb-2">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="ContactViewModel.Email" readonly/>
    </div>

    <div class="col-3 mb-2 pt-4 d-flex justify-content-between">
        <a href="/Contacts/EditContact/@(Model.ContactViewModel.ID)" class="btn btn-primary">Edit</a>
        <a href="/Contacts/ListContact" class="btn btn-warning">Cancel</a>
    </div>
