@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Contacts</h1>
    <h1 class="display-6">Where do you want to start?</h1>

    <div class="pt-4 justify-content-between align-content-center">
        <a href="/Contacts/ListContact" class="btn btn-secondary">List Contacts</a>
        <a href="/Contacts/AddContact" class="btn btn-primary">Add New Contact</a>
    </div>
</div>
